
/* Background image on custom wrapper - More Flexibility */
#wrapper {
  background-image: url(../images/milky-way-1031138_1920.jpg);
  background-repeat: no-repeat;
/* Another tag for cover - have to look it up */
  min-height: 1000px;
}

.container-fluid {
  padding-top: 40px;
}

.container{
  margin: 0 auto;
}

#card {
  background-color: #030c25;
  border-radius: 10px;
  box-sizing: border-box;
  width: 1920px;
  height: 1276px;
  padding: 10px;
  margin: 0 auto;
}

#db-picture{
  width: 1920px;
  height:1276px;

}


.button {
  border-style: solid;
  border-color: white;
  margin: 0 auto;
}

#subject-group{
  margin: 15px auto;
  /*color: rgb(212, 209, 11);*/
  color: white;
  font-size:  16px;
  text-align: center;
  font-weight: 700;
}

[type=checkbox].subject-Check{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.check-name{
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}

.w3-bar{
  text-align: center;
  margin: 0 auto;
}

.w3-button{
  padding: 12px 24px;
  margin: 0px 10px 0px 10px;}