
/* Background image on custom wrapper - More Flexibility */
#wrapper {
  background-color: rgb(31, 30, 30);
  /* background-image: url(../images/milky-way.jpg);
  background-repeat: no-repeat; */
width:360;
height:640;

}

.container-fluid {
  padding-top: 40px;
}

.container{
  margin: 0 auto;
}

#card {
  background-color: #020714;
  border-radius: 10px;
  box-sizing: border-box;
  width: 840px;
  min-height: 840px;
  padding: 10px;
  margin: 0 auto;
}

#db-picture{
  width: 740px;
  height: 740px
}


.button {
  border-style: solid;
  border-color: white;
  margin: 0 auto;
}

#subject-group{
  margin: 15px auto;
  /*color: rgb(212, 209, 11);*/
  color: white;
  font-size:  16px;
  text-align: center;
  font-weight: 700;
}

[type=checkbox].subject-Check{
  color: white;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.check-name{
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}

.w3-bar{
  text-align: center;
  margin: 0 auto;
}

.w3-button{
  padding: 12px 24px;
  margin: 0px 10px 0px 10px;}