
/* Background image on custom wrapper - More Flexibility */
#wrapper {
  background-color: #20232a;
  /* background-image: url(../images/milky-way.jpg);
  background-repeat: no-repeat; */
width:360;
height:640;

}

.container-fluid {
  padding-top: 40px;
}

.container{
  margin: 0 auto;
}

header {
  
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #20232a;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  

}
#card {
  
  background-color: #282c34;
  border-radius: 10px;
  box-sizing: border-box;
  width: 1000px;
  min-height: 660px;
  padding: 40px;
  margin: 0 auto;
}

#db-picture{
  width: 900px;
  height: 594px
}


.button {
  border-style: solid;
  border-color: white;
  margin: 0 auto;
}

#subject-group{
  margin: 15px auto;
  /*color: rgb(212, 209, 11);*/
  color: white;
  font-size:  16px;
  text-align: center;
  font-weight: 700;
}

[type=checkbox].subject-Check{
  color: white;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.check-name{
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}

.w3-bar{
  text-align: center;
  margin: 0 auto;
}

.w3-button{
  padding: 12px 24px;
  margin: 0px 10px 0px 10px;}